body {
  background-color: $dark;
  color: $white;
  margin: 0 30px;
}

main {
  margin: 0 30px;
}

.img{
  height: 800px;
  width: 800px;
}

.\.header-website{
  height: 100px;
  margin-bottom: 15px;
  color: #55198b;
}